@tailwind components;

@layer components {
  // === SCROLL ===
  .q-scroll {
    // FOR Firefox
    --q-scrollbar-width: thin;
    scrollbar-width: var(--q-scrollbar-width);
    scrollbar-color: #aaa transparent;
    // -webkit-overflow-scrolling: touch; // OPTION: From Bootstrap .table-responsive
  }

  .scrollbar-auto {
    scrollbar-width: auto;
  }

  .q-scroll::-webkit-scrollbar {
    --q-scroll-size: 7px; // 9px
    // DEV: use !important
    width: var(--q-scroll-size); // 9px is same size with firefox scrollbar-width: thin;
    height: var(--q-scroll-size);
  }

  .q-scroll::-webkit-scrollbar-thumb {
    background-color: #ccc; // rgba(0, 0, 0, 0.2)
  }

  .q-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }

  .q-scroll::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }

  .q-scroll::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.08); //  !important
  }

  // .scroll-eee::-webkit-scrollbar-track {
  //   background-color: #eee;
  // }

  // FOR Firefox
  // .scroll-eee {
  //   scrollbar-color: #aaa #eee;
  // }

  // FOR Firefox
  .q-scroll.scroll-hover:not(:hover) { // :not(:active)
    scrollbar-color: transparent transparent;
  }

  .q-scroll.scroll-hide::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  .q-scroll.scroll-hide {
    scrollbar-width: none;
  }

  .q-scroll.scroll-hover::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .q-scroll.scroll-hover:hover::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.08);
  }

  .q-scroll.scroll-hover::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .q-scroll.scroll-hover:hover::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  .q-scroll.scroll-hover::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; // bbb
  }

  // .q-scroll.scroll-hover:active::-webkit-scrollbar-thumb,
  .q-scroll.scroll-hover::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }

  // .q-scroll.lock {
  //   overflow: hidden !important;
  //   padding-right: 7px !important; // 9px
  // }

  // .q-required::after {
  //   content: "*";
  //   color: #e92f39;
  //   vertical-align: top;
  //   margin-left: 5px;
  // }

  // // Used for block img tag contextmenu
  // .block-el {
  //   position: relative;
  // }
  // .block-el::after {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  // }

  // Button
  // .btn-primary {
  //   @apply border-blue-600 focus-visible_ring
  // }

  // Ant Transfer component
  .transfer-responsive > div {
    width: 100% !important;
  }
  .transfer-responsive .a-transfer-operation {
    flex-direction: row;
    justify-content: center;
    column-gap: .5rem;
    padding: 1rem;
  }
  .transfer-responsive .a-transfer-operation .a-btn:first-child {
    margin: 0;
  }
  .transfer-responsive .a-transfer-operation .a-btn > span {
    transform: rotate(90deg);
  }

  .antUpload .a-upload {
    @apply inline-block rounded-md;
  }
  .antUpload .a-upload:focus-visible {
    @apply ring;
  }

  // antd Alert align left description
  .antAlert-left .a-alert-description {
    @apply -ml-9;
  }

  // antd Input, Select, InputNumber readOnly style for disabled
  // .antInput-readOnly,
  // .antSelect-readOnly .a-select-selector {
  .antInput-disabled,
  .antSelect-disabled .a-select-selector {
    color: #555 !important; // inherit
    background-color: #f9f9f9 !important; // inherit
  }

  // Prevent scroll when loading data
  .antSelectLoading .rc-virtual-list-holder {
    overflow-y: hidden !important;
    height: 228px;
  }
  .antSelectLazy .a-select-item-empty {
    padding-right: 0;
    padding-left: 0;
  }

  // DatePicker.RangePicker, responsive style for mobile / small device
  .antRangePicker.a-picker-dropdown-range {
    left: auto !important;
  }
  .antRangePicker .a-picker-panels {
    width: 100vw;
    overflow-x: auto;
  }

  .antTable .a-pagination-mini {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
  }

  // .a-card-grid-hoverable:hover
  // .antCard-hover-no-border:not(:hover) {
  //   box-shadow: none;
  // }

  .drawerCloseEnd .a-drawer-close {
    margin-inline-end: 0;
    margin-left: auto;
  }
}

// Always compile Here

// Custom Theme Styling:

// #navMain > .a-menu-item:first-of-type {
//   margin-right: auto; //  !important
// }

// *.aInputMd {
//   padding-left: 0;
//   padding-right: 0;
//   border-radius: 0;
//   border-width: 0 0 2px !important;
// }

.a-checkbox .a-checkbox-inner {
  border-width: 2px;
  // border-radius: 0;
}

// antd Card
// .antCard-custom
.a-card .a-card-head-wrapper {
  flex-wrap: wrap;
  gap: 1rem;
}

// DEV : Override for responsive
// .a-card .a-card-head-title {
//   flex: none;
//   // width: 100%;
// }

// .a-notification,
.ant-notification {
  z-index: 2056 !important; // 1060
}

// .dark .ant-notification-notice {
//   // @apply border;

//   background: #1f1f1f;
//   // color: #eee !important; // rgba(255, 255, 255, 0.85)
// }

// .dark .ant-notification-notice-close,
// .dark .ant-notification-notice-content div {
//   color: #eee !important;
// }

// .dark .a-notification-notice-close {
//   color: rgba(255, 255, 255, 0.45) !important;
// }

.a-select-selection-placeholder {
  user-select: none;
}

// Ant Tree
.a-tree-switcher-noop:empty {
  width: auto;
}

.a-modal-close + div .a-modal-confirm-title {
  padding-right: 24px;
}

// Ant Datepicker thead th border-top
.a-picker-content th {
  border-top: 0;
}

// Select menu
// .dark .rc-virtual-list-scrollbar-thumb,
// .dark .a-tree-list-scrollbar-thumb {
//   background: rgba(255, 255, 255, .5) !important;
// }

// .a-modal-footer, // .antModal .a-modal-footer,
// .a-modal-confirm-btns { // .antModal .a-modal-confirm-btns
//   text-align: center !important;
// }

// .a-table table {
//   width: 100% !important;
// }
